.issue-wrapper {
    width: 600px;
    padding: 15px;
    margin: 25px;
    border: 1px solid black;
}

.issue-description {
    margin: 15px 0;
}

.voting {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.thumb {
    padding: 0 5px;
}