* {
    box-sizing: border-box;
    margin: 0px;
}

body {
	font-family: 'Libre Baskerville', serif;
	color: #325050;
}

@media (max-width: 1130px) {
    body {
        font-size: 80%;
    }
}

abbr {
    color: #325050;
}

a {
    text-decoration: none;
    color: #0d8ba1 
}

a:visited {
    color: #1a5952;
}

.container1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 19em;
    grid-template-areas:
        "h1 h2";
    border-top: solid 12px rgba(19, 67, 71, 0.9);
    background-image: url(images/gridlines.png), url(images/contours.png), url(images/noise.png), url(/images/huntington.jpg);
    background-attachment: fixed, fixed, fixed, scroll;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, 50% auto, auto, cover;
    height: 19em;
    padding-bottom: 0px;
}

@media (max-width: 1130px) {
    .container1 {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: 
            "h1"
            "h2";
        height: 17em;
    }
}

.header1, .header2 {
    color: #fff;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}

.header1 {
    grid-area: h1;
}

.page-title abbr {
    color: rgba(255,255,255,0.6);
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3.3em;
    margin-bottom: 0px;
    margin-top: 10px;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    color: rgba(255,255,255,0.6);
    font-size: 1.5em;
    margin-top: 5px;
}

.logo-title {
    display: flex;
}

.logo-img {
    height: 7.5em;
    width: 7.5em;
    margin-right: 45px;
}

@media (max-width: 1130px) {
    h1 {
        font-size: 2.6em;
    }

    h2 {
        font-size: 1.1em;
    }
    
    .logo-img {
        height: 5em;
        width: 5em;
    }

    .logo-title {
        text-align: center;
    }
}

@media (max-width: 600px) {    
    h1 {
        font-size: 1.9em;
    }
    
    .logo-img {
        height: 3em;
        width: 3em;
        margin-top: 10px;
        margin-right: 25px;
    }
}

@media (max-width: 500px) {
    .logo-img {
        margin-right: 0;
    }
    
    .logo-title {
        flex-direction: column;
        align-items: center;
    }
}

.header2 {
    grid-area: h2;
    background-color: rgba(19, 67, 71, 0.25);
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
}

.view {
    background-color: rgba(221, 221, 221, 0.1);
    color: #fff;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    display: flex;
    align-items: baseline;
    margin-left: 1px;
    margin-right: 1px;
    height: 100%;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.arrow {
    text-align: center;
    font-size: 6em;
    background-color: rgba(221, 221, 221, 0.1);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.arrow div {
    margin-top: -12px;
}

.view:hover, .arrow:hover {
    background-color: rgba(221, 221, 221, 0.25);
}

@media (max-width: 1130px) {
    .nav-container {
        width: 100%;
        height: 75px;
    }
}

/* Second container styling and grid positioning: */
.container2 {
    background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(5);
    grid-template-areas:  
        "s sb1"
        "p sb2"
        "r b"
        "fc fc"
        "fm fm";
}

@media (max-width: 1130px) {
    .container2 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7);
        grid-template-areas:
            "s"
            "p"
            "r"
            "fc"
            "fm"
            "sb1"
            "sb2";
    }
}

/* content section (everything below the header) */
.summary {
    grid-area: s;
    background-color: #fff;
}

.html-css {
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    color: #809b7e;
    font-size: 1.2em;
}

.html-css::before {
    font-family: 'VerdeModerna';
    font-size: .8em;
    content: 'D';
    color: #a9b995;
    background: #d9e1cd;
    padding: 2px;
    border-radius: 2px;
}

.html-css:hover {
    background-color: #0d8ba1;
    padding: 5px;
    color: #fff;
    transition: all 0.25s ease-out;
}

.html-css:hover::before {
    font-family: 'VerdeModerna';
    font-size: .8em;
    content: 'D';
    color: #fff;
    background: #0a7c8d;
    padding: 2px;
    border-radius: 2px;
}

.summary, .participation-text, .requirements {
    margin: 8.3% 6.7% 8.3% 15%;
    line-height: 35px;
}

@media (max-width: 1130px) {
    .summary, .participation-text, .requirements {
        margin: 8.3% 10%;
    }
}

.sidebar1 {
    grid-area: sb1;
    background-color: #e3eee8;
}

ul {
    list-style-type: none;
    text-decoration: none;
    color: #325050;
    margin-left: 3em;
    margin-top: 5em;
}

.sb1-li {
    font-style: italic;
    color: #c0cac3;
    padding-bottom: 30px;
    border-bottom: .5px solid #c0cac3;
    width: 60%;
}

.sb1-li:last-child {
    border-bottom: none;
}

@media (max-width: 1130px) {
    .sb1-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
            "li1 li2"
            "li3 li4"
            "li5 li6"
            "li7 li8";
        margin: 5px;
        padding: 5px;
        height: 320px;
    }

    .li1 {
        grid-area: li1;
    }

    .li2 {
        grid-area: li2;
    }

    .li3 {
        grid-area: li3;
    }

    .li4 {
        grid-area: li4;
    }

    .li5 {
        grid-area: li5;
    }

    .li6 {
        grid-area: li6;
    }

    .li7 {
        grid-area: li7;
    }

    .li8 {
        grid-area: li8;
    }
}

.design-name, .designer-name {
    text-decoration: none;
    font-style: normal;
}

.design-name {
    font-family: 'Julius Sans One', sans-serif;
    color: #607476;
    font-size: 1.2em;
    display: block;
    margin-top: 25px;
    margin-bottom: 5px;
}


.designer-name {
    color: #616857;
    font-size: 0.9em;
}

.participation, .sidebar2 {
    background-image: url(images/bamboo.png);
}

.participation {
    grid-area: p;
    background-color: rgba(189,223,205, .6);
}

.sidebar2 {
    grid-area: sb2;
    background-color: rgba(171,210,190,.7);
}

.sb2-menu {
    margin-top: 6em;
}

.sb2-menu abbr {
    color: #607476;
}

.sb2-menu a {
    font-family: 'Julius Sans One', sans-serif;
    font-style: normal;
    font-size: 1.2em;
    color: #607476;
    text-decoration: none;
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    border-top: .5px solid #c0cac3;
    width: 65%;
}

.sb2-last {
    border-bottom: .5px solid #c0cac3;
}

.requirements {
    grid-area: r;
    background-color: #fff;
}

.blank {
    grid-area: b;
    background-color: rgb(227,238,232);
}

.footer-credits {
    grid-area: fc;
    background-color: rgb(1, 153, 153);
}

.footer-menu {
    grid-area: fm;
    background-color: rgb(0, 34, 34);
}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    margin-top: .7em;
}

.footer-credits {
    height: 320px;
    background-image: url(images/gridlines.png), url(images/contours.png), url(images/noise.png), url(images/koi.jpg);
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto 50% auto auto cover;
    background-position: left bottom;
    color: rgba(255, 255, 255, 0.4);
    font-size: 2em;
    font-style: italic;
    padding-right: 5.5em;
    padding-left: 5.5em;
    line-height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-credits > p > a {
    color: rgb(211, 211, 211);
    text-decoration: none;
    font-style: normal;
}

.footer-credits > p > a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: 'VerdeModerna';
    src: url(verdemoderna.woff) format('woff');
}

.footer-menu {
    height: 175px;
    background-color: #004448;
    font-family: 'VerdeModerna';
    font-size: 4.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glyph-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}

.glyph-container > a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

.five::before {
    content: '5';
}

.five:hover::before {
    content: '%'
}

.three::before {
    content: '3';
}

.three:hover::before {
    content: '#';
}

.c::before {
    content: 'c';
}

.c:hover:before {
    content: 'C';
}

.a::before{
    content: 'a';
}

.a:hover::before {
    content: 'A';
}

.g::before {
    content: 'g';
}

.g:hover::before {
    content: 'G';
}



