.footer-wrapper {
    background-color: rgb(0,97,183);
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    position: fixed;
    bottom: 0;
}

.icon {
    height: 50px;
    margin: 0 40px;
    transition: transform .3s;
    transition-timing-function: ease-in-out;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.3);
}