.navbar-wrapper {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 9%;
    margin-right: 9%;
    font-weight: 700;
    font-size: 12px;
}

.start {
    font-size: 19px;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.navbar-ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 80%;
}


.navbar-li {
    padding: 5px;
    margin: 2%;
}

.menu {
    display: none;
}

.navbar-li > a {
    text-decoration: none;
    color: white;
}

@media(max-width: 1020px) {
    .navbar-wrapper {
        margin-left: 3%;
        margin-right: 3%;
    }
    .navbar-ul {
        width: 50%;
    }
}

@media (max-width: 830px) {
    .start {
        font-size: 15px;
    }
    .navbar-ul {
        width: 60%;
        padding-left: 0px;
    }
}

@media(max-width: 620px) {
    .navbar-li {
        display: none;
    }
    .menu {
        display: inline;
    }
}
