.color-wrapper {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}