.navbar-wrapper {
    background-color: rgb(0,194,216);
    height: 35px;
    font-size: 20px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

@media(max-width: 370px) {
    .navbar-wrapper {
        font-size: 15px;
    }
}

.start {
    color: #ffe700;
}

.links {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto 15px;
}

.links:hover {
    color: rgb(219,0,16);
}