.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'bc p';
    grid-gap: 10px;
    margin-top: 35px;
}

.book-cover-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


.book-cover {
    grid-area: 'bc';
    padding: 7%;
    margin: 0 5%;
    width: 600px;
    height: auto;
}

@media(max-width: 1215px) {
    .book-cover {
        width: 500px;
        height: auto;
        margin: 7% 5%;
    }
}

.about-text {
    grid-area: 'p';
    padding: 20% 7%;
    font-size: 25px;
}

.about-p {
    text-align: center;
}

@media(max-width: 1030px) {
    .book-cover {
        width: 400px;
        height: auto;
        margin: 10% 5%;
    }

    .about-text {
        font-size: 20px;
    }
}

.site-title {
    font-style: italic;
}

.book-title {
    text-decoration: none;
    font-style: italic;
}

.book-poem {
    margin-top: 30px;
    text-align: center;
    font-style: italic;
}

@media(max-width: 835px) {
    .about-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'bc'
                             'p';
    }

    .book-cover {
        width: 500px;
        height: auto;
        margin: 0;
    }

    .book-poem {
        margin-top: 15px;
    }

    .about-text {
        padding: 5%;
    }
}

@media(max-width: 500px) {
    .book-cover {
        width: 350px;
        height: auto;
    }
}