#box {
    background-color: blue;
    height: 100px;
    display: inline-block;
    width: 100%;
}

@media (min-width: 2000px) {
    #box {
        background-color: red;
        height: 100px;
    }
}

@media (max-width: 1600px) {
    #box {
        background-color: green;
        width: 80%;
    }
}