.footer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.icon-wrapper {
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.icon {
    height: 80px;
    width: 80px;
}

.icon:hover {
    opacity: .4;
}
