* {
    box-sizing: border-box;
    margin: 0px;
}

body {
	font-family: 'Libre Baskerville', serif;
	color: #2e484c;
	font-size: 100%;
}

/* banner */
.banner {
    border-top: .9em solid rgb(0, 58, 58);
	background-image: url(images/gridlines.png), url(images/contours.png), url(images/noise.png), url('/images/huntington.jpg');
	background-attachment: fixed, fixed, fixed, scroll;
	background-repeat: repeat, repeat, repeat, no-repeat;
	background-size: auto, 50% auto, auto, cover; 
	height: 22em;
	display: flex;
	align-items: center;
	width: 100%;
}

.logo-title {
	display: flex;
	justify-content: center;
	width: 66.66%;
}

.logo > img {
	height: 8em;
	width: 8em;
}

.page-title {
	margin-top: 1.3em;
	margin-left: 1.7em;
}

.view-all {
	width: 33.3%;
	background-color: rgba(255, 255, 255, 0.15);
	color: #fff;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 1.4em;
	padding: 1.1em;
	text-align: center;
	margin: .8em;
}

h1 {
	color: #fff;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 3.2em;
}

h2 {
	color: rgba(255, 255, 255, 0.65);
	font-style: italic;
	font-size: 1.6em;
	padding-top: .6em;
}

h3 {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 1.8em;
}


/* .top {
    background-image: url();
    position: fixed;
    background-size: 50%;
    width: 100%;
    height: 310px;
} */


